html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a9d1ff;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  display: block;
  cursor: none; /* hide cursor for shift‑lock style */
}
